<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="true">
      <context loginUrl="/login" />
      <dataAccess showSql="false" />
      <control host="http://wagosvr:7778/" />
    </provider>
  </lnf>

  <connectionStrings>
    <add name="cnSselData" connectionString="Server=dbserver,1435;Database=sselData;User ID=webapp;Password=lnf12345" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ServiceHostTcp" value="net.tcp://0.0.0.0:7779" />
    <add key="ServiceHostHttp" value="http://+:7778" />
    <add key="WagoServiceTimeout" value="10" />
    <add key="ControlConnectionDevelopment" value="WagoService.Test.SingleWagoConnection, WagoService" />
    <add key="ControlConnectionProduction" value="WagoService.Wago.WagoConnection, WagoService" />
    <add key="MongoConnectionString" value="mongodb://webapp:lnf12345@10.0.0.146" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>
