<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" />
    </provider>
  </lnf>

  <connectionStrings>
    <add name="cnSselData" connectionString="xxxxx" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ServiceHostTcp" value="net.tcp://0.0.0.0:7779" />
    <add key="ServiceHostHttp" value="http://+:7778" />
    <add key="WagoServiceTimeout" value="10" />
    <add key="ControlConnectionDevelopment" value="WagoService.Test.TestConnection, WagoService" />
    <add key="ControlConnectionProduction" value="WagoService.Wago.WagoConnection, WagoService" />
    <add key="MongoConnectionString" value="xxxxx" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
